h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Nunito', sans-serif;
}

.jumbotron {
    margin: 0;
    background: url("../img/pexels-asad-photo-maldives-3601463.jpg") center center no-repeat;
    background-size: cover;
    height: 500px;
}